@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.600/neodgm/style.css');
@import url("https://font.elice.io/css?family=Elice+Digital+Baeum");
@import "tailwindcss";


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-apple-gothic: 'Apple SD Gothic Neo', sans-serif;
    --font-sf: 'SF Pro Display', sans-serif;
    --font-neo: 'NeoDunggeunmo', monospace;
    --font-elice: 'Elice Digital Baeum', sans-serif;
    --font-serif: 'Georgia', 'Times New Roman', serif;
    --font-mono: 'Courier New', monospace;
  }

  
  /* 전역 기본 폰트 설정 */
  html, body {
    font-family: 'Apple SD Gothic Neo', 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
  }

